.category_page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: white;
}

.category_page_title {
    color: white;
    text-transform: capitalize;
}

.category_thread{
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: red;
}

.category_thread_container {
    width: 500px;
    padding-left: 50px;
    background-color: green;
    padding: 24px;
    margin: 24px;
}

.container_title {
    color: white;
    margin-top: 0;
    font-weight: 700;
    font-size: 20px;
}

.category_section {
    height: 75vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    padding-left: 20px;
    padding-right: 50px;
    background-color: blue;
}

/* .category-post{
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-right: 150px;
    border: white;
    margin: 24px;
    padding: 24px;
} */
.create_new_thread_container {
    background-color: #372248;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin: 24px;
    padding: 24px;
    color: red;
    border-radius: 8px;
    width: 200px;
}
.create_new_thread_title {
    color: white;
}