

.create_new_thread_container {
    background-color: #372248;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin: 24px;
    padding: 24px;
    color: red;
    border-radius: 8px;
    width: 200px;
}

.create_new_thread_title {
    color: white;
}

.thread-post {
    background-color: red;
}

.thread-post-title {
    background-color: green;
}

.thread_post_input {
    background-color: yellow;
    width: 100%;
}

.thread_post_category {
    background-color: blue;
}

.thread_post_submit_btn {
    background-color: purple;
}


