.single-thread-page{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}


.threadbox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.threadpost {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    
}

.commentbox {
    height:10vh;
}

#thread-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width:20vw;
}

.wrap-thread-boxes{
display: flex;
justify-content: space-between;
width: 74%;
}