.single-thread-page{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}


.threadbox{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

.threadpost {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.commentbox {
    height:5vh;
}